
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*------Header------*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  width: 730px;
  left: 64px;
  position: relative;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  display: flex;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  position: absolute;
  background-color: #2f80ed;
  margin: 0;
}

/*------Deskription------*/
.description {
  width: 80%;
  min-width: 784px;
  margin: 100px auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin-bottom: 30px;
}
.two-columns__span-accent {
  font-weight: 700;
}

/*------Digits------*/

.digits {
  margin: 100px auto;
}
.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  z-index: 2;
}

.section-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #000000;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style: none;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  margin:0;
  color: #000000;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
}
.table__text:last-of-type {
  margin: 0;
  padding: 0;
}
.digits-table__cell-text-paragraph {
  margin-top: 20px;
  font-size: 18px;
  color: #000000;
}

/*------Feynman------*/

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__illustration {
  display: flex;
  justify-content: right;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
  z-index: 0;
  position: absolute;
}
.feynman__title {
  display: flex;
  width: 648px;
  z-index: 1;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.feynman__subtitle {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  margin: 0 auto;
  padding-top: 70px;

}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color:  #2f80ed;
  display: flex;
  right: 48px;
  position: absolute;
  top: 50%;
  text-decoration: none;
}
/*------Kaufman------*/

.kaufman {
  margin: 0 auto;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px;
}
.section-title_theme_dark {
  color: #f2f2f2;
}
.table__heading_theme_dark {
  color: #f2f2f2;
}
.section-subtitle__theme-dark {
  color: #f2f2f2;
}
.table__text_theme_dark {
  color: #f2f2f2;
}
.table__cell_theme_dark {
  width: 200px;
  z-index: 1;
  margin: 0;
  padding-top: 80px;
}
.table__theme_dark {
  color: #f2f2f2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  display: flex;
  position: absolute;
  top: 0;
  background-size: cover;
  right: -210px;
}

/*------Footer------*/
.footer {
  min-height: 350px;
  display: flex;
  position: relative;
  background-color: #1f1f1f;
}
.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.logo_place_footer {
  z-index: 1;
}

.footer__author {
  padding: 16px;
  color: #f2f2f2;
  text-align: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__columns-heading {
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color:  #f2f2f2;
}

.footer__column-links {
  padding-bottom: 16px;
  padding-left: 0;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

